
  
      <ion-header translucent>
        <ion-toolbar>
          <ion-title>Loan Balance</ion-title>
        </ion-toolbar> </ion-header
      >,
      <ion-content fullscreen>
        <ion-card>
          <img src="assets/Loan1.png" />
          <ion-card-header>
            <ion-card-subtitle>Your Balance</ion-card-subtitle>
            <ion-card-title>77,390.05 INR</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Here you will be able to see the available loan balance and any payments you have made towards the loan.
          </ion-card-content>
        </ion-card>
      </ion-content>

     
  
